.img_Me{
width: 300px;
height: 300px;
}

.Expo_Me{
  padding: 25px 25px 75px 25px;
}

#section-Expo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  background-color: #343434;
}

h1{
display: flex;
align-items: center;
}
